body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

/* header */
header {
    background-color: #F5F5F6;
    padding: 8px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.logo {
    width: 80px;
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

ul li {
    font-size: 12px;
    color: #959BA4;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
}

ul li:hover {
    color: #333;
}

li.activeLi {
    color: #333;
}

.ending {
    padding: 12px;
    background-color: white;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.navbarIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* main */

section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
}

section h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.containers {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.container {
    flex: 1;
    min-width: 300px;
}

.container p {
    margin-bottom: 10px;
    color: #666;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.tab {
    flex: 1;
    padding: 10px;
    background-color: white;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: background 0.3s;
}

.active {
    background: #8c52ff;
    color: #fff;
}

.tab:not(.active):hover {
    background: #e0e0e0;
}

.input-box {
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 6px;
}

.input-box input {
    margin-bottom: 20px;
    font-size: 30px;
    height: 80px;
    border: none;
    outline: none;
    width: 100%;
}

.amount {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rateTo, .rateFrom {
    font-size: 14px;
    color: #999;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 991px) {
    ul {
        gap: 15px;
    }
}

@media (max-width: 800px) {
    .nav-menu {
        display: none;
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }
}